#headerBox {
    position:fixed;
    display: flex;
    flex-direction: row;
    top:2vh;
    // height:20vh;
}

#logoImgBox{
    width: 50px;
    height: 46.5px ;
    position: relative;
    top: 17px;
    left: 30px;
    cursor: pointer;
}

#keyWordBox {
    width: 90px;
    height: 23px;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.03em;
    position: relative;
    top: 30px;
    left: 80px;
    font-family: pretendard;  
}


