#background {
    min-width: 1920px;
    min-height: 1080px;
    padding: 0px 340px;
    background: #EFF0F3;
    // #EFF0F3
}

#searchBoxLine {
    display: flex;
    padding: 22px 0 0px 0;
}

#logoImgBox{
    width: 50px ;
    height: 46.5px ;
    margin: 0px 32px 0 0 ;
    cursor: pointer;
}

#searchBox {
    position: relative;
}

#searchInput {
    padding: 15px;
    width: 498px;
    height: 38px;
    padding-left:50px;
    border-radius: 10px;
    border: none;
}

#inputInsideIcon {
    position: absolute;
    left: 10px;
    top: 10px;
}

#yellowBox {
    display: inline-block;
    width: 65px;
    height: 65px;
    margin: 28px 25px 28px 32px;
    background: rgba(255, 213, 35, 0.15);
    border-radius: 33px;
}

.icon_img {    
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    // align-self: center;
    // align-content: center;
    // background-color: #595260;
}

#mentions_analysis {
    width: 1240px;
    height : 935px;
    margin: 38px 0px 47px 0px;
}

#mentions_analysis_first_line {
    display: flex;
}

#mentions_analysis_second_line {
    display: flex;
}

#mentions_analysis_third_line {
    display: flex;
}

#mentions_analysis_first_box_1,
#mentions_analysis_first_box_2,
#mentions_analysis_first_box_3,
#mentions_analysis_second_box_1,
#mentions_analysis_second_box_2,
#mentions_analysis_second_box_3,
#mentions_analysis_third_box_1,
#mentions_analysis_third_box_2 {
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(63, 64, 70, 0.08);
}


#mentions_analysis_first_box_1 {
    width: 392px;
    height: 120px;
    background: white;
    color: #333;
    margin: 9px 32px 0px 0px;
}

#mentions_analysis_first_box_2 {
    width: 392px;
    height: 120px;
    background: white;
    color: #333;
    margin: 9px 0px 0px 0px;
}

#mentions_analysis_first_box_3 {
    width: 392px;
    height: 120px;
    background: white;
    color: #333;
    margin: 9px 0px 0px 32px;
}

.first_box_3_txt_1 {
    text-align: left;
    margin: auto 6px auto 8px;
    padding-top: 3px;
    font-family: pretendard;
    color: #595260;
    font-size: 16px;
}

.first_box_3_txt_2 {
    text-align: left;
    margin: auto 0;
    padding-top: 3px;
    font-family: pretendard;
    color: #2C2E43;
    font-size: 17px;
}

#mentions_analysis_second_box_1 {
    width: 286px;
    height: 450px;
    margin: 28px 32px 0px 0px;
    background: white;
}

#mentions_analysis_second_box_2 {
    width: 604px;
    height: 450px;
    margin: 28px 0px 0px 0px;
    background: white;
}

#mentions_analysis_second_box_3 {
    width: 286px;
    height: 450px;
    margin: 28px 0px 0px 32px;
    background: white;
}

#mentions_analysis_third_box_1 {
    width: 498px;
    height: 270px;
    margin: 28px 32px 40px 0px;
    background: white;
}

#mentions_analysis_third_box_2 {
    width: 710px;
    height: 270px;
    margin: 28px 0px 40px 0px;
    background: white;
}


#mentions_analysis_title{
    font-size: 26px;
    font-family: esamanru;
    color: #222;
}

#mentions_analysis_second_box_1_title, 
#mentions_analysis_second_box_2_title,
#mentions_analysis_second_box_3_title,
#mentions_analysis_second_box_3_2_title,
#mentions_analysis_third_box_1_title,
#mentions_analysis_third_box_2_title{
    font-family: pretendard500;
    font-size: 18px;
    //margin: 24px 179px 404px 27px;
    padding: 24px 0 16px 27px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 21.6px;
    color: #222;
}

.first_line_titles {
    text-align: left;
    display: inline-block;
    margin: auto 0;
    font-family: pretendard;
    font-size: 18px;
    letter-spacing: -0.5px;
    // line-height: 22px;
}

.first_line_titles + div {
    display: inline-block;
    text-align: left;
    margin: auto 0 auto 20px;
    font-family: pretendard600;
    font-size: 22px;
    color: #2C2E43;    
}

.mentions_analysis_second_box_1_dataBox {
    overflow-y: scroll;
    height: 370px;
}
.mentions_analysis_second_box_2_dataBox {
   height: 370px; 
}

.mentions_analysis_second_box_1_data {
    // width: 100%;
    background-color: #fff;
    margin: 3px 5px;
    font-weight: 600;
    color: #2C2E43;
    border-radius: 1px;
}
.mentions_analysis_second_box_1_data:hover {
    background-color: #2C2E43; 
    color: #FFD523;    
    cursor: pointer;
    border-radius: 1px;
}

.mentions_analysis_second_box_1_data:active {
    background-color: #ECEDEE;
    color: #2C2E43;
}

.mentions_analysis_second_box_1_dataBox::-webkit-scrollbar {
    width: 10px;
}
.mentions_analysis_second_box_1_dataBox::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
.mentions_analysis_second_box_1_dataBox::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.mentions_analysis_second_box_1_data, .mentions_analysis_second_box_2_data {
    text-align: center;
    border-radius: 20px;
    padding : 10px;
    font-family: pretendard;
}

.mentions_analysis_second_box_3_dataBox {
    width: 100%;
    height: 90px;
    text-align: left;
    font-family: pretendard;
    padding: 3px 40px 0px 45px;
    margin-bottom: 5px;

    div:last-child > span {     
        font-family: pretendard500;
        font-size: 22px;
        line-height: 28px;
        color: #222;
    }
}

.mentions_analysis_second_box_3_2_dataBox {
    width: 100%;
    height: 90px;
    text-align: left;
    font-family: pretendard;
    font-size: 16px;
    padding: 3px 35px 0 45px;

    div:last-child > span {   
        font-family: pretendard500;     
        font-size: 22px;
        line-height: 28px;
        color: #222;
    }
}

.second_box_wrap {
    display: flex;
    margin: auto 0;
    height: 100%;
}

.second_box_wrap > div:first-child,
.second_box_wrap > div:first-child {
    display: inline-block;
    margin: auto 0;
    padding: 2px;
}

.second_box_wrap > div:last-child,
.second_box_wrap > div:last-child {
    display: inline-block;
    margin: auto 0;
    margin-left: 40px;
    color: #333;
}

.mentions_analysis_third_box_1_dataBox {
    overflow-y: scroll;
    height: 200px;
    text-align: center;
    font-family: pretendard;
    margin: 0 0px 0 27px;
    // padding: 40px;
    font-size: 16px;    
    // background-color: #eee;
}

.twit_wrap {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    // background-color: #ffc5db;
    margin: 0 0px 10px 0;
}

.twit_icon {
    margin-top: 6px;
    // background-color: yellowgreen;
    width: 7%;
    height: 34px;
}

.twit_box {
    display: inline-block;
    background-color: #EFF0F3;
    border-radius: 10px;
    padding: 15px;
    margin: 0px 8px 0px 0px;
    width: 89%;
    color: #333;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
}

.twit_box:hover {
    cursor: pointer;
}

.mentions_analysis_third_box_2_dataBox {
    height: 225px;
    overflow-x: scroll;
    display: flex;
}

.mentions_analysis_third_box_2_data {
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-family: pretendard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.first_box_wrap {
    display: flex;
    margin: auto 0;    
}

.questionIcon {
    margin-left: 10px;
    color: #2C2E43;
    font-size: 17px;
}